<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1 class="heading"><%=title%></h1>
    <p><a class="pageLink" href="./angry-birds">See All</a></p>
  </body>
</html>
