<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="titleScreen"><%=title%></h1>
    <p><a href="./angry-birds">Time to start the Angry Bird Parade!</a></p>
  </body>
</html>
