<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <p>Time to start the Angry Bird Parade! <a href="./angry-birds">Click Me!</a></p>
  </body>
</html>
